<!-- <app-ts-play></app-ts-play> -->
<!-- <app-update-strategy-play  [arr]="arr" [title]="title"> </app-update-strategy-play>

<button (click)="arr.push(3)">Mutate</button>
<button (click)="arr = [1,2,3]">Recreate</button>

<button (click)="title = 'new Title'">change TItle</button> -->
<!-- 
<app-child-query-play> </app-child-query-play> -->


<!-- <app-forms-play></app-forms-play> -->
<!-- <app-directive-play></app-directive-play> -->


<!-- <app-ex1>
    <ng-template #btn> 
        <button >123</button>
    </ng-template>
</app-ex1> -->

<!-- {{title}}

<app-iteraction-play
    [(myInt)]="title"
>

</app-iteraction-play> -->
<!-- 
<app-parent>

</app-parent> -->

<!-- 
<app-directive-play></app-directive-play> -->

<!-- <app-pipes-play></app-pipes-play> -->

<!-- <app-rxjs-play></app-rxjs-play> -->
<button routerLink="/my-test/123?test=1">my-test LL</button>
<router-outlet></router-outlet>